@charset "utf-8";
/* CSS Document */

*{border:0px; margin:0px;}

p 
{
	color:#FFF; 
	text-align:justify;
}

h1
{
	color:#FFF; 
	text-align: center;
}

body
{
	background-color:#000;
}

#banner
{
	margin:auto;
	width:1300px;
	height:300px;
}

.botoes
{
	background-color: #000;
	width:1000px;
	height:40px;
}

#aum-fonte, #dim-fonte
{
	float: right;
	border-radius: 5px;
	margin-left:10px;
	font-size:18px;
}


#texto
{
	background-color:#000;
	margin-top:50px;
	margin-left:20px;
	width:1000px;
	position:absolute;
	font-size: 18px;
}

#lateral
{
	background-color:#000;
	float:right;
	margin-top:15px;
	width:300px;
}

video
{
	margin-right: 20px;
}

